@charset "UTF-8";

html {
    background-color: #0b0f1a;
    color: white;
}

.heading {
    text-align: center;
    font-weight: 100;
}

.heading-line {
    width: 50%;
}

.content {
    border: 1px solid white;
    border-radius: 6px;
    padding: 10px;
    font-size: 20px;
    width: auto;
}

li {
    padding: 5px;
    font-size: 20px;
    font-family: sans-serif;
}

footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}